# Data Types
1) int
2) Float
3) Complex
4) String
5) List (mutable)
6) Tupple (immutable)
7) Set (mutable but can't keep duplicate values)
8) Dictionary (key-value pair)

In [49]:
# int data types

my_int = 10
type(my_int)

# It took 4 bytes so Python knows its integer

int

In [103]:
#float value
my_float = 10.5
type(my_float)

# It took 8 bytes so Python knows its float

float

# OPEATIONS

1) Arithmetic
2) Assignment
3) Boolean
4) Comparison
5) Logical

In [25]:
my_int + 10  #add

20

In [27]:
my_int - 5 ## subtract

5

In [29]:
my_int * 5 ##multiply

50

In [31]:
my_int//5 ## int division

2

In [105]:
my_int/4 ## float division

2.5

In [35]:
my_int**2 ## power

100

# Assignment Operator

In [110]:
num = 5
num = num + 5
num

10

In [112]:
num2=8
num2+=19
num2

27

# Boolean Operator

In [121]:
bool(num2) # when a variable carry non-zero value then it will be always TRUE

True

In [123]:
num3=0
bool(num3) #when a variable keeps zero value then it will be always FALSE, bz Python thinks it is a null value so no memory will be allocated so 
#it is false.

False

# Comparison

1) equal to ==
2) not equal to !=
3) greater than >
4) greater than equal to >=
5) less than <
6) less than equal to <=

In [45]:
val_1 = 10
val_2 = 10
print(val_1 == val_2)

True

# Logical

1) and : all condition met then true else false
2) or : either of condition is met then true else false
3) not: it tells false to True and true to False

In [51]:
bool1 = True
bool2 = True
print(bool1 and bool2)

True

In [129]:
bool = True
bool2 = False
print (bool1 or bool2)

True

In [135]:
bool3 = True
bool4 = False
print(not bool3)

False

# String
1. We enclose it in single or double quotes
2. It takes the bytes according to the number of chracters

In [143]:
name = "Amit Kumar"
len(name) # to print the length of string including white space

10

In [145]:
print("Hi " + name) # concatination two string

Hi Amit Kumar

# Slicing
1. indexing
    a) Start from 0
    b) Last index is always one less than total length
2. Slicing
    a) citting down the string accordingto our need

In [161]:
name = "Amit Kumar"
name[len(name)-1]

'r'

In [207]:
name = "Amit Kumar"
name[2:]  # here it will skip first 2 from left side and rest will be printed

'it Kumar'

In [151]:
name = "Amit Kumar"
name[2:6] # it will print 3rd letter till 6th letter

'it K'

In [163]:
name = "Amit Kumar"
name[::-1] # to reverse the string

'ramuK timA'

In [167]:
name[:-1] # it will cut the last char from right side

'Amit Kuma'

# SPLIT function

In [171]:
string = "Hello Python"
word1,word2 = string.split(" ") # to split the string e.g. with white space or any other char
word1

'Hello'

In [179]:
string = "Hello Python"
word1,word2 = string.split("P") #to print only before P
word1

'Hello '

In [181]:
string = "Hello Python"
word1,word2 = string.split("P") # to print after P
word2

'ython'

# STRIP Function (or TRIM)

In [203]:
string5 = "  Hello      Amit "
print(string5) # It will print with space but if you want strip space then use strip function

  Hello      Amit

In [205]:
string5 = "  Hello Amit "
string5 = string5.strip()
print(string5)

Hello Amit

# LIST
1) collective datatype
2) to initiative list we use []
3) we can add any data type in list
4) we have functions like sort, apend, sum .....

In [324]:
my_list= []
type(my_list)

list

In [216]:
my_list= [1,2,5,3,7,5,0]
print(my_list)

[1, 2, 5, 3, 7, 5, 0]

In [220]:
my_list= [1,2,5,3,7,5,0]
my_list[2:] # indexing same as string

[5, 3, 7, 5, 0]

In [224]:
my_list= [1,2,5,3,7,5,0]
my_list[::-1] # reverse indexing

[0, 5, 7, 3, 5, 2, 1]

In [226]:
my_list= [1,2,5,3,7,5,0]
len(my_list) # to chekc the lenght

7

In [244]:
my_list= [1,2,5,3,7,5,0]
my_list.append(11) # to add more data, use append function
my_list

[1, 2, 5, 3, 7, 5, 0, 11]

In [246]:
my_list= [1,2,5,3,7,5,0]
my_list.append("amit") # to add more data, use append function
my_list

[1, 2, 5, 3, 7, 5, 0, 'amit']

In [254]:
my_list= [1,2,5,3,7,5,0]
my_list.append(["amit", "hello"]) # to add list into list, use append function
my_list

[1, 2, 5, 3, 7, 5, 0, ['amit', 'hello']]

In [256]:
my_list= [1,2,5,3,7,5,0]
sum(my_list) # to get the sum

23

In [258]:
my_list= [1,2,5,3,7,5,0]
sorted(my_list) # to get the sort

[0, 1, 2, 3, 5, 5, 7]

In [287]:
my_list= [0, 1, 2, 3, 5, 5, 7]
my_list[2]= "amit" # if you want to add at some specific space then put the value at that index value
my_list

[0, 1, 'amit', 3, 5, 5, 7]

# TUPPLE
1) collective datatypes
2) immutable
3) it is ecnlcosed in ()

In [275]:
my_tupple=(1,2,34)
my_tupple

(1, 2, 34)

In [281]:
my_tupple=(1,2,34)
my_tupple[:2] # to slice

(1, 2)

# SET 
1) Collective datatype
2) doesn't allow duplicate value
3) Mutable
4) define in {}

In [291]:
set1 = {1,2,3,4,5,3,4}
set1

{1, 2, 3, 4, 5}

In [305]:
set1 = {1,2,3,4,5,3,4}
list(set1) # to convert into list

[1, 2, 3, 4, 5]

In [307]:
set1 = {1,2,3,4,5,3,4}
tuple(set1) # to convert into tuple

(1, 2, 3, 4, 5)

In [309]:
# to convert the list into set
my_list5 = [0,1,2,3,4,5,5,6,4]
set(my_list5)

{0, 1, 2, 3, 4, 5, 6}

# Dictionary
1) collective datatype
2) key-value pairs
3) keys can't be repeated
4) to define in {}

In [331]:
my_dict={
    1: "mango",
    2: "Banana",
    3: "Apple"
}
my_dict # to print whole dictionary

{1: 'mango', 2: 'Banana', 3: 'Apple'}

In [335]:
my_dict.keys() # to print only keys

dict_keys([1, 2, 3])

In [337]:
my_dict.values() # to print only values

dict_values(['mango', 'Banana', 'Apple'])

In [341]:
my_dict.get(1) # to get the valye for a particular key

'mango'